<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82345376775-thpugduk7690h3g7q7kh4cpd3u4gron3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82345376775-thpugduk7690h3g7q7kh4cpd3u4gron3</string>
	<key>API_KEY</key>
	<string>AIzaSyB5OewkoTew0NvsibcoAP8WzPMWeEw0D6c</string>
	<key>GCM_SENDER_ID</key>
	<string>82345376775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.educationApp</string>
	<key>PROJECT_ID</key>
	<string>education-app-8d22d</string>
	<key>STORAGE_BUCKET</key>
	<string>education-app-8d22d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82345376775:ios:2105835aad4a032551bea2</string>
</dict>
</plist>